  <header>
     <div class="ui inverted menu">
         <a class="item" href="/">
           Home
         </a>
         <a class="item" href="/pokemon">
           Pokémon
         </a>
     </div>
  </header>