<%- include('./partials/header'); %>
  <main>
    <div class="ui segment">
      <h1><%= title %></h1>
      
      <a href="/pokemon">Back</a>
    </div>
  </main>
  <%- include('./partials/footer'); %>